<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/about.css">
    <link rel="stylesheet" href="../index.css">
    <title>ABOUT US</title>
</head>

<body>

    <div class="header">
        <div class="nav">
            <a href="../view/About.html">About</a>
            <a href="../view/service.html">service</a>
        </div>
    </div>
	
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>Services</h1>
				</div>
				<div class="content">
				</div>
			</div>
		</div>
	</div>

</body>

</html>